<h1>Update Ingredient</h1>

<%= form_with model: @ingredient, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :category %>
    <%= f.select(:category, options_for_select(Ingredient.categories, Ingredient.categories[@ingredient.category])) %>
  </div>
  <div>
    <%= f.label :status %>
    <%= f.select(:status, options_for_select(Ingredient.statuses, Ingredient.statuses[@ingredient.status])) %>
  </div>
  <div>
    <%= f.submit 'Update' %>
  </div>
<% end %>
